{% extends 'accounts/main.html' %}

{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<br>
<div class="row">
    <div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Create Customer</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.customer.profile_pic.url}}" >

		</div>
	</div>
    <div class="col-md-6">
		<div class="card card-body">


            <form action=""  method="POST">
                {% csrf_token %}

                {%for i in form %}
                    {{i.name}}
                    {{i}}
                    <br>
                    <hr>

                {% endfor %}

                <br>
                <input class = 'btn btn-sm btn-info' type="submit" name="Submit">
            </form>
        </div>
    </div>

    </div>
</div>




{% endblock %}