
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa-solid fa-user-check"></i>
        </div>
        <div class="sidebar-brand-text mx-3">{{request.user}} </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->


    <hr class="sidebar-divider">


    <!-- Heading -->
    <div class="sidebar-heading">
        Tasks
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fa-solid fa-cart-plus"></i>
            <span>Create order</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'create_customer'%}">
            <i class="fas fa-fw fa-table"></i>
            <span>Create Customer</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-table"></i>
            <span>Update customer</span></a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->



    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
        <a class="nav-link" href="{% url 'products'%}">
            <i class="fas fa-fw fa-table"></i>
            <span>Products</span></a>
    </li>


    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Help</span></a>
    </li>



    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout'%}">
            <i class="fas fa-fw fa-table"></i>
            <span>Log out</span></a>
    </li>


</ul>