
<br>

<div class="row">
	<div class="col">
		<div class="col-sm">
			<div class="card text-center text-blue  mb-4" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{context.total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>


	<div class="col">
		<div class="col-sm">
			<div class="card text-center text-blue  mb-4" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Pending</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{context.pending}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
			<div class="col-sm">
				<div class="card text-center text-blue  mb-4" id="orders-out-for-delivery">
					<div class="card-header">
						<h5 class="card-title">Orders Out for Delivery</h5>
					</div>
					<div class="card-body">
						<h3 class="card-title">{{context.ofdelivery}}</h3>
					</div>
				</div>
			</div>
	</div>
	<div class="col">
		<div class="col-sm">
			<div class="card text-center text-blue  mb-4" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Delivered</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{context.delivered}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>