
{% extends 'accounts/main.html' %}

{% block content %}


<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">


    <form action=""  method="POST">
        {% csrf_token %}
        {% for i in form %}
            {{i.label}}
            {{i}} <br><hr>
        {% endfor %}
        <br>
        <br>
        <input class = 'btn btn-sm btn-info' type="submit" name="Submit">
    </form>

  </div>
  <div class="card-footer text-muted">

  </div>
</div>


{% endblock %}